body{
    background: #D2B48C;
}

th{
    background: #FFFF99;
    color: #696969;
    text-align: center;
    border:1px solid black;
    border-collapse: collapse;
    height:10px;
    padding:15px;
}

table{
    background: #F08080;
    border:1px solid black;
    border-collapse: collapse;
    width:100%;
    
}



tr:nth-child(even){background-color: #F08080}
tr:nth-child(odd){background-color: #E9967A}
tr:hover{background-color:#CCCCCC}

td{
    border:1px solid black;
    height:25px;
    vertical-align: middle;
    padding:5px;
    color: white;
}

input{
    width: 70%;
}


input[type=submit]{
    
    width:20%;
}

input[type=reset]{
    
    width:20%;
}

.update td{border: none; height:25px; padding:10px; font-weight:bold;}

.right {text-align:right;}

input[readonly]{background-color: gray;}

.wrap{text-align:center; width:90%; margin:0 auto; border: 2px solid black; margin-top:25px;}

.header{background-color:tan; text-align:left; padding:25px;}
.headerImg{float:left; width:210px;}
.headerText{float:left; height:100px; padding-top:30px; padding-left:25px;}

.main{text-align:left; padding:25px;}

.footer{background-color:green; text-align:left; padding:25px;}

/*http://css.maxdesign.com.au/listamatic/horizontal03.htm*/
.navcontainer { margin-left: 30px; text-align:left;}

/*Fat Erik's Pipelist*/
.navlist
{
list-style: none;
padding: 0;
margin: 0;
}

.navlist li
{
display: inline;
padding: 0;
margin: 0;
}

.navlist li:before { content: "| "; }
.navlist li:first-child:before { content: ""; }

/*IE workaround*/
/*All IE browsers*/
* html .navlist li
{
border-left: 1px solid black;
padding: 0 0.4em 0 0.4em;
margin: 0 0.4em 0 -0.4em;
}


* html .navlist { height: 1%; }

* html .navlist li
{
display: block;
float: left;
}

